<a href="https://colab.research.google.com/github/kamalavarshini15/kamalavarshini15/blob/main/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 1
while(i<=5):
  print(i)
  if i == 3:
      break
  i = i + 1

1
2
3

break continue  these are transfer statement 

pass is a dummy statement

In [ ]:
i = 0
while i<=5:
  i = i + 1
  if i%2==0:
    continue 
  print(i)

1
3
5

In [ ]:
L = [int(x) for x in input("Enter the numbers:").split()]
key = int(input("Enter number to search"))
i = 0
while i<len(L):
  if key == L[i]:
    print("Element found at index",i)
    break
  i = i + 1
if i==len(L):
  print("Element not found ")

Enter the numbers:5 6 7
Enter number to search7
Element found at index 2

In [ ]:
i = 1
while i<=5:
  print(i)
  if i == 3:
    break
  i = i + 1
else:
  print("else block")
print("done")

1
2
3
done

In [ ]:
i = 1
while i<=5:
  print(i)
  
  i = i + 1
else:
  print("else block")
print("done")

1
2
3
4
5
else block
done

In [ ]:
L = [1,2,3]
for x in L:
  print(x)

1
2
3

In [ ]:
for x in "kamala":
  print(x)

k
a
m
a
l
a

In [ ]:
list(range(5,101,5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [ ]:
L=[1,2,3,4,5,6,7]
for i in range(len(L)):
  L[i] = L[i] + 4
  print(L[i])

5
6
7
8
9
10
11

In [ ]:
L1 = [1,2,3]
L2 = ["k","a","m"]
for x,y in list(zip(L1,L2)):
  print(x,y)

1 k
2 a
3 m

In [ ]:
L =[1,2,3]
[x*2 for x in L]

[2, 4, 6]

In [ ]:
[x for x in L if x%2 == 0]

[2]

In [ ]:
[ x for x in range(1,101) if x%7 == 0]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [ ]:
[(x,y) for x in [1,2] for y in [3,4]]

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
[2**x for x in range(10) if x>5]

[64, 128, 256, 512]

In [ ]:
[x for x in range(20) if x%2 == 1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
[x+y for x in ['Python']]

In [ ]:
a,b = [int(x) for x in input().split()]

5 6

In [ ]:
dictionaries # keys are immutable and unique and values are may have repeatation

In [ ]:
D = {'fruit':'Grape','qty': 6,'color' :'Green'}

In [ ]:
d2 = {}

In [ ]:
type(d2)

dict

In [ ]:
l = [(1,"one"),(2,"two")]
a = dict(l)

In [ ]:
print(a)

{1: 'one', 2: 'two'}

In [ ]:
{x : 2*x for x in range(1,6)}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [ ]:
D.has

In [ ]:
#count the frequncy of the characters 
str = input()
d = {}
for s in str:
  if s in d.keys():
    d[s] = d[s] + 1
    
  else:
    d[s] =1
  print(d)

hello
{'h': 1}
{'h': 1, 'e': 1}
{'h': 1, 'e': 1, 'l': 1}
{'h': 1, 'e': 1, 'l': 2}
{'h': 1, 'e': 1, 'l': 2, 'o': 1}